@font-face {
    font-family: "Nyala";
    src: url("/static/nyala.woff") format("woff"),
    url("/static/nyala.tff") format("tff");
    }

/* General Rules */

* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

footer {
    text-align: center;
    font-size: 14px;
    margin: 30px auto 10px auto;
    font-weight: bold;
    clear: both;
}

a, a:visited {
    color: #309901;
    text-decoration: none;
}

a:hover, a:active {
    color: #5cdd20;
}

input {
    background-color:cyan;
}


button {
    background-color:darkcyan;
    color: white;
    font-size: 15px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 25px;
    border: 2px solid black;
}

button:hover {
    color: black;
    background-color:rgb(150, 223, 223);
}

form {
    text-align: center;
}

.form_left {
    text-align: left;
}

input[type=text], input[type=password] {
    border: 3px solid white;
    background-color:black;
    border-radius: 0;
    color: white;
    font-size: 23px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 20px;
    margin: 8px auto;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 3px solid #309901;
}

#title_img {
    width: 450px;
    display: block;
    margin: 10px auto 20px auto;
}

.row {
    margin: auto;
    width: 970px;
}

.narrow_row {
    margin: auto;
    width: 300px;
}

.intro_text {
    text-align: center;
    font-size: 26px;
    margin: 10px auto 15px auto;
}

.select_button {
    background: url('/static/images/main_button.png') no-repeat;
    background-size: cover;
    width: 170px;
    height: 88px;
    margin: 15px;
    font-family: 'Nyala', Verdana, Geneva, sans-serif;
    font-size: 40px;
}


.select_button:hover, .select_button:active {
    background: url('/static/images/main_button_hover.png') no-repeat;
    background-size: cover;
}

/* ------------- REGISTER SCREEN -------------- */

#register_button {
    background: url('/static/images/main_button_green.png') no-repeat;
    background-size: cover;
    margin: 15px auto;
}

#register_button:hover, #register_button:active {
    background: url('/static/images/main_button_green_hover.png') no-repeat;
    background-size: cover;
}

#back_to_login_button {
    background: url('/static/images/back_button.png') no-repeat;
    background-size: cover;
    width: 114px;
    height: 45px;
    margin-left: 0;
}

#back_to_login_button:hover, #back_to_login_button:active {
    background: url('/static/images/back_button_hover.png') no-repeat;
    background-size: cover;
}

#checkbox_and_label {
    padding: 15px 0;
}

#agreement {
    height: 20px;
    width: 20px;
    margin: 0;
}

#agreement_label {
    font-size: 14px;
    position: relative;
    bottom: 2px;
    padding: 0 0 0 10px;
}

/* ------------- LOGIN SCREEN -------------- */

#password-container {
    width: 307px;
    margin: 8px auto;
}

#password {
    margin: 0;
    width: 215px;
}

#username {
    width: 215px;
    margin: 12px 40px 12px 0;
}

#show-hide-password {
    height: 30px;
    width: 30px;
    margin: 0 0 0 7px;
    position: relative;
    top: 5px;
}

#show-hide-password:hover {
    background-color: #3a3a3a;
    border-radius: 50%;
}

#cookie_consent {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    padding-top: 7px;
    height: 160px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background: #292929;
    z-index: 120;
    border-radius: 3px;
}

#accept_button {
    margin: 10px 0;
    height: 40px;
    width: 150px;
    color: #fff;
    font-size: 20px;
    line-height: 10px;
    border-radius: 0px;
    border: 3px solid white;
    background-color: #309901;
}

#accept_button:hover, #accept_button:active {
    color: #fff;
    background-color: gray;
}

#login_button, #to_register_button {
    margin: 15px auto;
}

#login_button {
    background: url('/static/images/main_button_green.png') no-repeat;
    background-size: cover;
}

#login_button:hover, #login_button:active {
    background: url('/static/images/main_button_green_hover.png') no-repeat;
    background-size: cover;
}

/* ------------- SELECT SCREEN -------------- */

/* Hiding medals_data field */
#medals_data {
    display: none;
}

.select_row {
    margin: auto;
    width: 970px;
}

.select_col {
    float: left;
    margin: 0;
}

.pb_container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 10px 5px 15px 5px;
    padding: 0px 5px;
}

/* Hiding radio buttons - displaying just the radio_label that users can select*/
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

[type=radio] + label {
    float: left;
}

.radio_label {
    background: url('/static/images/tt_radio_label.png') no-repeat;
    background-size: cover;
    width: 70px;
    height: 54px;
    margin: 5px;

    /* to center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

[type=radio] + label {
    cursor: pointer;
  }

[type=radio]:checked + label {
    outline: 3px solid #e600ff;
}

[type=radio]:hover + label {
    outline: 3px solid #309901;
}

.medal_img {
    margin: 8px 11px 8px 11px;
    width: 60px;
    height: 60px;
    opacity: 10%;
}

#buttons_and_help {
    margin: 0 0 0 0px;
    width: 90%
}

#help_imgs {
    margin: 0 0 0 40px;
}

#help_imgs img {
    margin: 0px 5px 5px 5px;
    height: 50px;
    width: 50px;
}

.tooltip {
    position: relative;
}

.tooltip_text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 105%;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}

#logout_button {
    background: url('/static/images/logout_button.png') no-repeat;
    background-size: cover;
    width: 129px;
    height: 45px;
    margin: 0 70px 0 0;
}

#logout_button:hover, #logout_button:active {
    background: url('/static/images/logout_button_hover.png') no-repeat;
    background-size: cover;
}

/* -----------------  TEST SCREEN ---------------------------*/

.col {
    float: left;
    margin: 0;
}

#col1 {
    width: 20%;
    position: relative;
    min-height: 500px;
}

#col2 {
    width: 20%;
}

#col3 {
    width: 45%;
}

#col4 {
    width: 15%;
}

#display {
    background: url('/static/images/questionbox.png') no-repeat;
    background-size: cover;
    width: 328px;
    height: 225px;
    font-size: 20px;
    /* To center the writing in the display box */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#text {
    font-size: 1.25em;
    padding: 0 10px;
}

#medalpic {
    height: 70px;
    display: none;
    margin: 20px auto 0 auto;
}

#equals {
    width: 55px;
    height: 45px;
    display: block;
    margin-left: 135px;
    margin-right: auto;
    padding: 8px 0 0 0;
}

/* This is required to help position the main button that inherits from this */
#answer_plus_main_button {
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

#answer {
    background: url('/static/images/answerbox_inactive.png') no-repeat;
    background-size: cover;
    color: white;
    width: 288px;
    height: 171px;
    font-size: 60px;
    text-align: center;
    border-radius: 0;
}

#main_button {
    background: url('/static/images/main_button.png') no-repeat;
    background-size: cover;
    font-family: 'Nyala', Verdana, Geneva, sans-serif;
    font-size: 27px;
    width: 170px;
    height: 88px;
    /* To overlay the main button on top of the answer input */
    position: absolute;
    top: 67px;
    left: 80px;
}

#main_button:hover, #main_button:active {
    background: url('/static/images/main_button_hover.png') no-repeat;
    background-size: cover;
}

#main_button:focus {
    outline: none;
}

#answer:focus {
    outline: none;
}

#right_wrong {
    position: relative;
    top: 50px;
    left: 10px;
    height: 100px;
    width: 100px;
}

/* Inherits from #col1 */
#back_button_form {
    position: absolute;
    left: 0;
    bottom: 20px;
}

#back_button {
    background: url('/static/images/back_button.png') no-repeat;
    background-size: cover;
    width: 128px;
    height: 50px;
}

#back_button:hover, #back_button:active {
    background: url('/static/images/back_button_hover.png') no-repeat;
    background-size: cover;
}

#userbackground {
    background: url('/static/images/usernamebox.png') no-repeat;
    background-size: cover;
    height: 55px;
    width: 100px;
    font-family: 'Nyala', Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
    line-height: 55px;
}

#ttbackground {
    background: url('/static/images/usernamebox_bottom.png') no-repeat;
    background-size: cover;
    height: 58px;
    width: 100px;
    font-family: 'Nyala', Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 58px;
}

#timerframe {
    background: url('/static/images/timer.png') no-repeat;
    background-size: cover;
    height: 481px;
    width: 74px;
    position: relative;
    top: 0;
    left: 0;
}

#timerbar {
    position: absolute;
    top: 77px;
    left: 21px;
    height: 355px;
    width: 33px;
    background-color: #e600ff;
}

#timer {
    position: absolute;
    top: 454px;
    left: 17px;
}

.progress {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    width: 70px;
}

/* ------------- PRACTISE SCREEN -----------------*/

#learningdata {
    display: none;
}

#practise_tt {
    display: none;
}

#practise_back_button_form {
    position: absolute;
    left: 30px;
}

#practise_objects {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 560px;
}

#col1_practise {
    width: 45%;
}

#col2_practise {
    width: 55%;
}

#tt_overview {
    border: 3px solid white;
    font-size: 24px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#tt_overview td {
    border: 2px solid white;
    padding: 5px 10px;
}

#practise-box {
    margin-left: auto;
    margin-right: auto;
}

#practise_display {
    background: url('/static/images/questionbox.png') no-repeat;
    background-size: cover;
    width: 328px;
    height: 225px;
    font-size: 20px;
    /* To center the writing in the display box */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#practise_equals {
    width: 55px;
    height: 45px;
    display: block;
    margin-left: 135px;
    margin-right: auto;
    padding: 8px 0 0 0;
}

/* This is required to help position the main button that inherits from this */
#practise_answer_plus_main_button {
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

#practise_answer {
    background: url('/static/images/answerbox_inactive.png') no-repeat;
    background-size: cover;
    color: white;
    width: 288px;
    height: 171px;
    font-size: 60px;
    text-align: center;
    border-radius: 0;
}

#practise_answer:focus {
    outline: none;
}

#practise_main_button {
    background: url('/static/images/main_button.png') no-repeat;
    background-size: cover;
    font-family: 'Nyala', Verdana, Geneva, sans-serif;
    font-size: 27px;
    width: 170px;
    height: 88px;
    /* To overlay the main button on top of the answer input */
    position: absolute;
    top: 67px;
    left: 80px;
}

#practise_main_button:focus {
    outline: none;
}

#practise_main_button:hover, #practise_main_button:active {
    background: url('/static/images/main_button_hover.png') no-repeat;
    background-size: cover;
}

#practise_right_wrong {
    position: relative;
    top: 50px;
    left: 10px;
    height: 100px;
    width: 100px;
}

.tt_overview_answerbox {
    width: 40px;
    text-align: center;
    background-color: #309901;
}

@media only screen and (max-width: 980px) {
    #practise_back_button_form {
        top: 670px;
        left: 10px
    }
}


/* ---------------- Display for a phone --------------------- */

@media only screen and (max-width: 480px) {
    .narrow_row {
        width: 90%;
    }

    .row {
        width: 95%;
    }

    #title_img {
        width: 80%;
        margin: 2px auto;
    }    

    .intro_text {
        font-size: 20px;
        margin: 20px auto 15px auto;
    }

    input {
        width: 80%;
    }

    /* ------------- SELECT SCREEN on phone ------------ */

    .select_row {
        width: 95%;
    }

    .select_col {
        float: none;
    }

    .medal_container {
        display: inline-block;
    }

    .medal_img {
        margin: 8px 0 8px 10px;
        width: 40px;
        height: 40px;
    }

    .radio_label {
        width: 60px;
        height: 46px;
        margin: 5px;
    }

    #main_select_part {
        height: 605px;
        margin: 0 0 120px 0;
        padding: 0;
    }

    #buttons_and_help {
        position: fixed;
        background-color: black;
        border-top: 2px solid white;
        height: 120px;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    #test_button, #practise_button {
        width: 100px;
        height: 52px;
        font-size: 1.5rem;
        margin: 5px;
    }

    #test_button {
        margin-left: 20px;
    }

    #practise_button {
        padding: 10px 8px;
        margin: 5px;
    }

    #help_imgs {
        position: absolute;
        top: 50px;
        left: 120px;
        margin: 10px;
    }

    #help_imgs img {
        margin: 5px;
        height: 40px;
        width: 40px;
    }

    .tooltip {
        position: relative;
    }

    .tooltip_text {
        visibility: hidden;
        width: 150px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;

        position: absolute;
        z-index: 1;
        bottom: 100%;
        right: 105%;
    }

    .tooltip:hover .tooltip_text {
        visibility: hidden;
    }

    #gold_text {
        right: 0;
        left: 105%;
    }

    #logout_button {
        position: absolute;
        top: 70px;
        left: 10px;
        width: 100px;
        height: 35px;
        margin: 0 0 0 0;
    }


    /* ------------- TEST SCREEN and PRACTISE SCREEN on phone ------------- */


    #col1 {
        width: 0;
        height: 380px;
        min-height: 300px;
    }

    #col2 {
        width: 20%;
    }

    #col3 {
        width: 60%;
    }

    #col4 {
        width: 20%;
    }

    #col1_practise {
        width: 38%;
    }

    #col2_practise {
        width: 62%;
    }

    #practise_objects {
        width: 100%;
        height: 380px;
    }

    #tt_overview {
        border: 2px solid white;
        font-size: 14px;
    }

    #tt_overview td {
        border: 2px solid white;
        padding: 3px 7px;
    }

    .tt_overview_answerbox {
        width: 20px;
    }

    #userbackground, #ttbackground {
        visibility: hidden;
    }

    #display, #practise_display {
        width: 200px;
        height: 137px;
        font-size: 12px;
        margin: 0 auto;
    }

    #answer_plus_main_button, #practise_answer_plus_main_button {
        left: auto;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    #answer, #practise_answer {
        width: 152px;
        height: 90px;
        font-size: 38px;
    }

    #main_button, #practise_main_button {
        font-size: 15px;
        width: 95px;
        height: 50px;
        /* To overlay the main button on top of the answer input */
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #practise_main_button {
        font-size: 14px;
    }

    #medalpic {
        height: 43px;
        margin: 10px auto 0 auto;
    }

    .progress {
        width: 43px;
    }

    #right_wrong, #practise_right_wrong {
        position: absolute;
        top: 380px;
        left: 160px;
        height: 60px;
        width: 60px;
    }

    #practise_right_wrong {
        left: 225px;
    }

    #timerframe {
        background: url('/static/images/timer.png') no-repeat;
        background-size: cover;
        height: 300px;
        width: 46px;
        position: relative;
        margin: 0 0 0 auto;
    }

    #timerbar {
        position: absolute;
        top: 50px;
        left: 14px;
        height: 218px;
        width: 19px;
        background-color: #e600ff;
    }

    #timer {
        position: absolute;
        top: 283px;
        left: 11px;
        font-size: 11px;
    }

    #equals, #practise_equals {
        width: 35px;
        height: 29px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 0 0 0;
    }

    #back_button {
        width: 90px;
        height: 35px;
    }

    #practise_back_button_form {
        top: 400px;
        left: 10px
    }
}

