<!DOCTYPE html>
<html lang="eng">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
        {% block head %}{% endblock %}
        <title>
            Times Table Coach
        </title>
    </head>

    <body>
        <header>
            <img id="title_img" src="/static/images/title_long.png">
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            &copy 2022 All programming, design and sounds by Jonas Diete.
        </footer>
    </body>
</html>
