{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript" src="/static/cookieCheck.js"></script>
    <script type="text/javascript" src="/static/togglePasswordVisibility.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            
            cookieCheck('{{cookies}}');
            document.getElementById('show-hide-password').addEventListener('click', togglePasswordVisibility);
        })
    </script>
{% endblock %}

{% block main %}
    <div class="narrow_row">    
        <div class="intro_text">
            {{ login_message }}
        </div>
    </div>

    <div id="cookie_consent"> 
        <span> 
            This site uses only essential cookies, which enable you to stay logged in across the next few pages. 
            <br>
            If you don't wish to use cookies, please leave this page now.
        </span>
        <div> 
            <button id="accept_button">Accept</button> 
        </div>
    </div>

    <div class="narrow_row"> 
        <form action="/login" method="POST">
            <input id="username" autofocus autocomplete="off" type="text" name="username" placeholder="Username">
            <br>
            <div id="password-container">
                <input id="password" autocomplete="off" type="password" name="password" placeholder="Password">
                <img src="/static/images/eye-crossed-out.png" id="show-hide-password">
            </div>
            <br>
            <button type="submit" class="select_button" id="login_button">Login</button>
        </form>
        <br>
    </div>

    <div class="narrow_row"> 
        <form action="/register" method="GET">
            <button type="submit" class="select_button" id="to_register_button">Register</button>
        </form>
    </div>
    
{% endblock %}