{% extends "layout.html" %}

{% block main %}
    <div class = "narrow_row">
        <div class="intro_text">
            {{ register_message }}
            <br>
            <br>
        </div>
    </div>

    <div class = "narrow_row">
        <form action="/register" method="post">
            <input autofocus autocomplete="off" type="text" name="username" placeholder="Choose a Username"><br>
            <input autofocus autocomplete="off" type="password" name="password1" placeholder="Choose a Password"><br>
            <input autofocus autocomplete="off" type="password" name="password2" placeholder="Retype your Password"><br>
            <div id="checkbox_and_label">
                <input type="checkbox" id="agreement" name="agreement" value="agreed">
                <label for="agreement" id="agreement_label">I accept the <a href="/terms" target="_blank">Terms and Conditions</a>.
                </label>
            </div>
            <button type="submit" class="select_button" id="register_button">Register</button>
        </form>
        <br>
        <form action="/login" method="get" class="form_left">
            <button type="submit" id="back_to_login_button"></button>
        </form>
    </div>
{% endblock %}