{% extends "layout.html" %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            // if cookies had already been accepted before
            if ('{{cookies}}' == 'yes') {
                // Hiding cookie notification
                document.getElementById('cookie_consent').style.display='none';
                
            } else {
                document.getElementById('accept_button').addEventListener('click', () => {
                
                    // Hiding cookie notification
                    document.getElementById('cookie_consent').style.display='none';

                    // Sending data that cookies have been accepted
                    var data = new FormData();
                    data.append('accepted', 'yes');
                    var request = new XMLHttpRequest();
                    request.open('POST', '/login');
                    request.send(data);
                })
            }
            
        })
    </script>
{% endblock %}

{% block main %}
    <div class = "narrow_row">
        <div class="intro_text">
            {{ register_message }}
        </div>
    </div>

    <div id="cookie_consent"> 
      <span>
          This site uses only essential cookies, which enable you to stay logged in across the next few pages. 
          <br>
          If you don't wish to use cookies, please leave this page now.
      </span>
      <div> 
          <button id="accept_button">Accept</button> 
      </div>
    </div>

    <div class = "narrow_row">
        <form action="/register" method="post">
            <input autofocus autocomplete="off" type="text" name="username" placeholder="Choose a Username"><br>
            <input autofocus autocomplete="off" type="password" name="password1" placeholder="Choose a Password"><br>
            <input autofocus autocomplete="off" type="password" name="password2" placeholder="Retype your Password"><br>
            <div id="checkbox_and_label">
                <input type="checkbox" id="agreement" name="agreement" value="agreed">
                <label for="agreement" id="agreement_label">I accept the <a href="/terms" target="_blank">Terms and Conditions</a>.
                </label>
            </div>
            <button type="submit" class="select_button" id="register_button">Register</button>
        </form>
        <br>
        <form action="/login" method="get" class="form_left">
            <button type="submit" id="back_to_login_button"></button>
        </form>
    </div>
{% endblock %}