{% extends "layout.html" %}

{% block main %}
	<div class="row">
		<h2>Terms and Conditions</h2>
		<br>
		I accept that my username and password will be saved for the purpose of logging-in only. 
		<br>
		I am aware that there is currently no way to reset my password. 
		<br>
		I have used a password that I don't use for any other applications and websites.
		<br>
		The developer reserves the right to delete usernames and passwords when major updates of the app take place.
	<div>
{% endblock %}
