{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript" src="/static/test.js"></script>
{% endblock %}

{% block main %}
    <br>
    <div class="row">

        <div class="col" id="col1">
            <div id="userbackground">{{username}}</div> 
            <div id="ttbackground"><b id="tt">{{timestable}}</b><b>x</b></div>
            <form id="back_button_form">
                <button id="back_button" type="submit" formaction="/select" formmethod="GET"></button>
            </form>
        </div>

        <div class="col" id="col2">
            <!-- Images for displaying progress bar -->
            <img src="/static/images/counter_last_inactive.png" class="progress" id="progress11" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress10" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress9" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress8" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress7" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress6" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress5" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress4" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress3" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress2" alt="progress_bar">
            <img src="/static/images/counter_mid.png" class="progress" id="progress1" alt="progress_bar">
            <img src="/static/images/counter1_inactive.png" class="progress" id="progress0" alt="progress_bar">
        </div>

        <div class="col" id="col3">
            <div id="display">
                <div id="text">Welcome!<br>Use your keypad<br>to type in answers.</div>
                <img id="medalpic" src="/static/images/gold.png">
            </div>
            <div><img src="/static/images/equals.png" id="equals"></div>
            <div id="answer_plus_main_button">
                <input id="answer" inputmode="numeric" pattern="[0-9]*" type="text" autocomplete="off">
                <button id="main_button" type="button" autofocus>Start Game</button>
            </div>
            <img src="/static/images/tick.png" id="right_wrong">
        </div>

        <div class="col" id="col4">
            <div id="timerframe">
                <div id="timerbar"></div>
                <div id="timer">00:00</div>
            </div>
        </div>

    </div>
{% endblock %}